In [2]:
#dict
my_dict = {
    "name":"홍길동",
    "phone":"010-8414-6546"
}
print(type(my_dict))
name = my_dict['name']
print(name)

<class 'dict'>
홍길동

In [3]:
for k,v in my_dict.items():
    print(k,v)

name 홍길동
phone 010-8414-6546

In [4]:
def my_url(kind):
    #url = "https://openapi.naver.com/v1/search/{}.json".format(kind)
    url = f"https://openapi.naver.com/v1/search/{kind}.json"
    print(url)

In [5]:
my_url('news')    
my_url('movie')
my_url('book')

https://openapi.naver.com/v1/search/news.json
https://openapi.naver.com/v1/search/movie.json
https://openapi.naver.com/v1/search/book.json

In [9]:
#split() 함수 사용

my_str = 'a/b/c'
result = my_str.split('/')
print(type(result),result)

<class 'list'> ['a', 'b', 'c']

In [14]:
lyric  = '''
Yesterday all my troubles seemed so far away.
Now it looks as though they're here to stay.
Oh, I believe in yesterday.

'''
result = lyric.split('\n')
result

['',
 'Yesterday all my troubles seemed so far away.',
 "Now it looks as though they're here to stay.",
 'Oh, I believe in yesterday.',
 '',
 '']

In [16]:
#list comprehension (포괄적인 리스트)

#before
numbers = [1,2,3,4]
result = []
for value in numbers:
    result.append(value **2)

result

[1, 4, 9, 16]

In [18]:
#after
result2 = [val ** 2 for val in numbers]
result2

[1, 4, 9, 16]

In [22]:
#before
even_list = []
for val in range(20):
    if val %2 ==0:
       # print(val)
        even_list.append(val)

even_list

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [1]:
even_list2=[val for val in range(20) if val %2==0 ]
even_list2

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [7]:
#dict , list
song_list = []
for val in range(5):
    song_dict = {}
    song_dict['seq'] = val
    song_dict['title'] = 'Dynamite'
    #print(song_dict)
    song_list.append(song_dict)
    
song_list

[{'seq': 0, 'title': 'Dynamite'},
 {'seq': 1, 'title': 'Dynamite'},
 {'seq': 2, 'title': 'Dynamite'},
 {'seq': 3, 'title': 'Dynamite'},
 {'seq': 4, 'title': 'Dynamite'}]

In [15]:
import re

my_str = 'a\nb\rc\td' * 3
print(my_str)

#정규표현식 패턴(pattern)객체 생성
regexp = re.compile(r'[\n\r\t]')
print(type(regexp),regexp)
#patten과 매칭되는 문자열 찾아서 다른 문자열로 치환
result = regexp.sub(" ",my_str)
#str의 replace 함수로 중간 공백을 제거 
result = result.replace(" ","")
print(result)

a
c	da
c	da
c	d
<class 're.Pattern'> re.compile('[\\n\\r\\t]')
abcdabcdabcd

In [3]:
my_tuple = (1)
print(type(my_tuple))

my_tuple2 = ( 1,)
print(type(my_tuple2))

<class 'int'>
<class 'tuple'>

In [1]:
temp = '재선(20대,21대)'
print(temp[2:])
print(temp[:2])

(20대,21대)
재선

In [ ]:
from datetime import date

def calc_age(birth):
    #현재날짜
    today = date.today()
    print(today,birth)
    print('year',today.year - birth.year)
    print('month day', ((today.month, today.day)) < (birth.month, birth.day) )
    age = (today.year - birth.year) - ((today.month, today.day) < (birth.month, birth.day))
    print(age)
    return age

In [ ]:
age = today.year - birth.year - ((today.month, today.day) < (birth.month, birth.day))

In [ ]:
calc_age(date(1992,6,4))

In [1]:
calc_age(date(1992,12,4))

NameError: name 'calc_age' is not defined

In [ ]:
my_list = [10,20,40,0,90]
from itertools import count

for val in count(0):
    pass

In [2]:
#함수의 아규먼트갯수가 가변적인경우
def myFun(*argv):
    for arg in argv:
        print(arg)
        
myFun('Hello','welcom','to','geeksforgeeks')

Hello
welcom
to
geeksforgeeks

In [3]:
def myFun(**kwargs):
    print(kwargs,kwargs)
    for key,value in kwargs.items():
        print("%s==%s"%(key,value))

#driver code
myFun(fist='Geeks',mid='for',last='Geeks')

{'fist': 'Geeks', 'mid': 'for', 'last': 'Geeks'} {'fist': 'Geeks', 'mid': 'for', 'last': 'Geeks'}
fist==Geeks
mid==for
last==Geeks

In [6]:
import pandas as pd

series = pd.Series(['20200-10-31','2020-10-29'])
series

0    20200-10-31
1     2020-10-29
dtype: object

NameError: name 'day_count' is not defined