In [8]:
!pip show pymysql

Name: PyMySQL
Version: 0.10.1
Summary: Pure Python MySQL Driver
Home-page: https://github.com/PyMySQL/PyMySQL/
Author: yutaka.matsubara
Author-email: yutaka.matsubara@gmail.com
License: "MIT"
Location: c:\programdata\anaconda3\lib\site-packages
Requires:
Required-by:

In [9]:
sql = """
CREATE TABLE product (
    id INT UNSIGNED NOT NULL AUTO_INCREMENT,
    name VARCHAR(20) NOT NULL,
    model_num VARCHAR(10) NOT NULL,
    model_type VARCHAR(10) NOT NULL,
    PRIMARY KEY(id)
);
"""

sql

'\nCREATE TABLE product (\n    id INT UNSIGNED NOT NULL AUTO_INCREMENT,\n    name VARCHAR(20) NOT NULL,\n    model_num VARCHAR(10) NOT NULL,\n    model_type VARCHAR(10) NOT NULL,\n    PRIMARY KEY(id)\n);\n'

In [11]:
import pymysql

db = pymysql.connect(host='localhost', port=3306, db='python_db',\
                    user='python',passwd='python',charset='utf8')
cursor = db.cursor()
cursor.execute(sql)
db.commit()

OperationalError: (1050, "Table 'product' already exists")

In [33]:
cursor.execute('drop table product')
cursor.execute('show tables')

0

In [34]:
db.close()

In [13]:
import pymysql

#db와 연결
db = pymysql.connect(host='localhost', port=3306, db='python_db',\
                    user='python',passwd='python',charset='utf8')

try:
    #커서를 생성하고 커서가 오픈되있는 쿼리문을 여러개 실행
    with db.cursor() as cursor:
        #table drop하는 query 실행
        cursor.execute('drop table product')
        #product table 생성 query 실행
        cursor.execute(sql)
        #db에 실제로 반영 시킴
        db.commit()
        
        for num in range(10,20):
            name = 'S20'+str(num)
            ins_sql = 'insert into product (name,model_num,model_type) values (%s, %s, %s)'
            cursor.execute(ins_sql,(name,'7700','Phone'))
            ins_sql = "insert into product (name,model_num,model_type) \
             values('"+name+"','7700','Phone')"
            print('등록한 쿼리',ins_sql)
            #insert query를 실행
            #cursor.execute(ins_sql)
            
        db.commit()
        print(cursor.lastrowid)
except Exception as exp:
    print(exp)
    db.rollback()
finally:
    db.close()

등록한 쿼리 insert into product (name,model_num,model_type)              values('S2010','7700','Phone')
등록한 쿼리 insert into product (name,model_num,model_type)              values('S2011','7700','Phone')
등록한 쿼리 insert into product (name,model_num,model_type)              values('S2012','7700','Phone')
등록한 쿼리 insert into product (name,model_num,model_type)              values('S2013','7700','Phone')
등록한 쿼리 insert into product (name,model_num,model_type)              values('S2014','7700','Phone')
등록한 쿼리 insert into product (name,model_num,model_type)              values('S2015','7700','Phone')
등록한 쿼리 insert into product (name,model_num,model_type)              values('S2016','7700','Phone')
등록한 쿼리 insert into product (name,model_num,model_type)              values('S2017','7700','Phone')
등록한 쿼리 insert into product (name,model_num,model_type)              values('S2018','7700','Phone')
등록한 쿼리 insert into product (name,model_num,model_type)              values('S2019','7700','Phone')
10

In [4]:
import pymysql

db = pymysql.connect(host='localhost', port=3306, db='python_db',\
                    user='python',passwd='python',charset='utf8')

try:
    #select, update
    with db.cursor() as cursor:
        cursor.execute('select * from product where id=3')
        result = cursor.fetchone()
        print(type(result),result)
        
        upd_sql = "update product set model_type='%s' where name between 'S2010' and 'S2015'" % '핸드폰'
        cursor.execute(upd_sql)
        db.commit()
        #갱신된 row 개수
        print(cursor.rowcount)
        
        cursor.execute('select * from product')
        result_list = cursor.fetchall()
        #print(type(result_list))
        for row in result_list:
            print(row[0],row[1],row[2],row[3])
            
        # model_type별로 group by 하는 쿼리 실행 
        cursor.execute('select model_type,count(*) from product group by model_type')
        for row in cursor.fetchall():
            print(row)
finally:
    db.close()

ProgrammingError: (1146, "Table 'python_db.product' doesn't exist")

In [16]:
#delete 하고 select all
#name컬럼의 값이 's2014'와 's2015'인 행 삭제 sql문의 in 구문 이용
import pymysql

con = pymysql.connect(host='localhost', port=3306, db='python_db',\
                    user='python',passwd='python',charset='utf8')

try:
    with con.cursor() as cursor:
        cursor.execute('select * from product where id=3')
        result = cursor.fetchone()
        print(type(result),result)
        #갱신된 row 개수
        print(cursor.rowcount)
        
      
        del_sql = "delete from product where name ='S2015' or 'S2014'"
        cursor.execute(del_sql)
        print(cursor.rowcount)
        con.commit()
        
        del_sql = " select * from product order by id"
        cursor.execute(del_sql)
        for row in cursor.fetchall():
            print(row)
            
        # model_type별로 group by 하는 쿼리 실행 
        cursor.execute('select model_type,count(*) from product group by model_type')
        for row in cursor.fetchall():
            print(row)
        
            
        #삭제된 건수 출력
        print(corsor.rowcount)
        
except Exception as exp:
    con.rollback()
    print(exp)            
            
finally:
    con.close()

<class 'tuple'> (3, 'S2012', '7700', 'Phone')
1
0
(1, 'S2010', '7700', 'Phone')
(2, 'S2011', '7700', 'Phone')
(3, 'S2012', '7700', 'Phone')
(4, 'S2013', '7700', 'Phone')
(7, 'S2016', '7700', 'Phone')
(8, 'S2017', '7700', 'Phone')
(9, 'S2018', '7700', 'Phone')
(10, 'S2019', '7700', 'Phone')
('Phone', 8)
name 'corsor' is not defined